<div class="card" style="width: 18rem;">
  <img src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cats'19</h5>
    <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has gone to Sweden.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
