<div class="row">
  <div class="col-sm d-flex justify-content-center">

    <div class="card text-white bg-dark" style="width: 17rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Check it out!</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 17rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Sriously, CATS!</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-white bg-dark" style="width: 17rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Some text</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


    <div class="card" style="width: 17rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="image-overlay">
          <img class="card-img-top"
               src=" https://images.foxtv.com/static.fox10phoenix.com/www.fox10phoenix.com/content/uploads/2020/02/764/432/Animals-Face-Mask-ASIAWIRE-4.jpg?ve=1&tl=1">
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm d-flex justify-content-center">
    <div class="card text-white bg-dark" style="width: 22.7rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 22.7rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card text-white bg-dark" style="width: 22.7rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm d-flex justify-content-center">
    <div class="card text-white bg-dark" style="width: 34rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 34rem;">
      <div class="card-image">
        <img
          src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop"
          class="card-img-top" alt="...">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cats'19</h5>
        <p class="card-text">Some cats are required to work in polish hospitals due to lack of medical stuff which has
          gone to Sweden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
